/* Main container covering the whole screen */
.mainScreenContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background-image: url("/battleBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Ensure containers are stacked with a lower z-index */
.pokemonContainer,
.vsContainer,
.dogContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: auto;
}

.pokemonContainer {
  position: relative; /* Ensure absolute children are positioned within these containers */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightblue; */
}

.dogContainer {
  position: relative; /* Ensure absolute children are positioned within these containers */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* VS Logo styles */
.vsLogo {
  width: 25%;
  height: auto;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  animation: jump 1s ease-in-out infinite;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.pokemonCard,
.dogCard {
  position: absolute;
  z-index: 4; /* Ensure the card is above other content */
  background-color: white;
  border-radius: 20px; /* Smooth, rounded corners */
  overflow: hidden;
  width: 40vw;
  height: auto;
  border: 10px solid rgb(33, 12, 12);
}

.pokemonCard {
  right: 2%;
  top: 10%;
  animation: movePokeCard 2.5s ease-out infinite;
}

.dogCard {
  left: 1%;
  bottom: 20%;
  animation: moveDogCard 2s ease-out infinite;
}

@keyframes moveDogCard {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(8px, -8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes movePokeCard {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-8px, 8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.resetButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 20px;
  padding: 20px;
  background-color: #ff6347;
  border: 6px solid #333;
  color: #fff;
  width: 28vh;
  text-align: left;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 8px 8px 0px #333;
  transition: all 0.2s ease-in-out;
}

.resetButton:hover {
  background-color: #ff4500;
  box-shadow: 6px 6px 0px #333;
}

.resetButton:active {
  transform: translate(2px, 2px);
  box-shadow: 4px 4px 0px #333;
}

/* Brawl animation for VS Logo */
.vsLogo.spinAnimation {
  z-index: 1000;
  animation: spinAndGrow 2s linear infinite;
}

/* Keyframe for full 360-degree spin and scaling up */
@keyframes spinAndGrow {
  0% {
    transform: rotate(0deg) scale(1); /* Start at normal size */
  }
  50% {
    transform: rotate(180deg) scale(1.5); /* Halfway through the spin, grow to 1.5x size */
  }
  100% {
    transform: rotate(360deg) scale(2); /* Full spin and grow to 2x size */
  }
}

@keyframes jump {
  0% {
    transform: translateY(0) rotate(-55deg); /* Starting position */
  }
  50% {
    transform: translateY(-20px) rotate(-55deg); /* Mid jump */
  }
  100% {
    transform: translateY(0) rotate(-55deg); /* Landing */
  }
}

.unselectButtonPokemon {
  position: fixed;
  top: calc(50% - 65px);
  right: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 20px;
  padding: 20px;
  background-color: #ff6347;
  border: 6px solid #333;
  color: #fff;
  width: 28vh;
  text-align: left;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 8px 8px 0px #333;
  transition: all 0.2s ease-in-out;
}

.unselectButtonPokemon:hover {
  background-color: #ff4500;
  box-shadow: 6px 6px 0px #333;
}

.unselectButtonPokemno:active {
  transform: translate(2px, 2px);
  box-shadow: 4px 4px 0px #333;
}

.unselectButtonDog {
  position: fixed;
  top: calc(50% - 15px);
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 20px;
  padding: 20px;
  background-color: #ff6347;
  border: 6px solid #333;
  color: #fff;
  width: 28vh;
  text-align: left;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 8px 8px 0px #333;
  transition: all 0.2s ease-in-out; /* Center it horizontally by default, but not necessary since right is set */
}

.unselectButtonDog:hover {
  background-color: #ff4500;
  box-shadow: 6px 6px 0px #333;
}

.unselectButtonDog:active {
  transform: translate(2px, 2px);
  box-shadow: 4px 4px 0px #333;
}
