/* Carousel Container */
.carouselContainer {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  /* Embla Base Styles */
  .embla {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .emblaViewport {
    width: 100%;
    height: 100%;
  }
  
  .emblaContainer {
    display: flex;
    align-items: center;
    height: 100%; /* Ensure the container takes full height */
  }
  
  .emblaSlide {
    flex: 0 0 100%; /* Makes sure only one slide takes up 100% of the viewport width */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Navigation Buttons */
  .navButton {
    background: none;
    border: none;
    color: #333;
    font-size: 50px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
  }
  
  .navButton.prev {
    left: 10px;
  }
  
  .navButton.next {
    right: 10px;
  }
  